[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bump2version = "==0.5.11"
coverage = "==4.5.4"
flake8 = "==3.7.8"
nltk = "==3.4.5"
numpy = "==1.17.2"
pytest = "==4.6.5"
pytest-runner = "==5.1"
tox = "==3.14.0"
twine = "==1.14.0"
watchdog = "==0.9.0"
click = "==7.0"
typical = {editable = true,git = "https://github.com/moodule/typical.git",ref = "v0.1.1"}
Scrapy = "==1.7.3"
Sphinx = "==1.8.5"
pandas = "==0.25.1"
beautifulsoup4 = ">=4.8.1"
geopy = "==1.20.0"
pymongo = "==3.9.0"

[requires]
python_version = "3.7"
