[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==2.6.0"
tox = "==2.3.1"
coverage = "==4.1"
sphinx = "==1.4.8"
pytest = "==2.9.2"
pytest-runner = "==2.11.1"
pylint = "*"
pandas = "*"
numpy = "*"